 <div class="center hero-unit">
 <div class="jumbotron">
  <h1>Suministro</h1>
  <p>
    Administración de bienes de consumo
  </p>
</div>
<!--
  <%= link_to "Darse de alta", new_user_path , class: "btn btn-large btn-primary" %>
-->
</div>
