 <div class="center hero-unit">
  <h1>Suministro</h1>

  <h2>
    Administración de bienes de consumo
  </h2>
<!--
  <%= link_to "Darse de alta", new_user_path , class: "btn btn-large btn-primary" %>
-->
</div>

