<table class="table">  
   <% if @reportes_a_fecha.count > 0 %>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Acciones</th>  
    </tr>
  </thead>
  <tbody>   
      <% @reportes_a_fecha.each do |reporte| %>
        <tr>
          <td><%= reporte['fecha'].strftime("%d/%m/%Y") %></td>
          <td><%= link_to 'Ver',  reporte_a_fecha_path(reporte) %></td> 
          <td><%= link_to 'Imprimir', imprimir_formulario_reporte_a_fecha_path(reporte), method: :post, data: {confirm: '¿Esta seguro?' }  %>        
          </td>          
        </tr>          
    <% end %>
  </tbody>  
    <% else %>
      <h3> No hay reportes en esa fecha </h3>
    <% end %>
</table>

<br>
