<h1>Reportes de stock por fecha</h1>

<div class="row">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <div class"field">
        <%= label_tag 'seleccione un rango de fechas'%>
      </div>
      <br />
      <div class"label">
      <%= label :fecha_fin, "Hasta" %>
      </div>

      <div class"field">
      <%= text_field_tag :fecha_fin, nil, readonly: true %>
      </div>
      <input type="button" value="Obtener" id="traer_items_stock">
    </div>
  </form>
</div>

<div id="tabla_items">
      <%= render 'form_tabla_stock' %>
</div>
<input type="button" value="Obtener todos" id="reportes_a_fecha_traer_todos_los_items">
