  <div class="field_descripcion_provisoria">
    <%= label_tag :descripcion_provisoria %><br>
    <%= text_area_tag 'descripcion_provisoria' , @recepcion_de_bien_de_consumo.descripcion_provisoria, size: '25x4'   %>     
  </div> 