	<div class="field">	
	<%= label_tag :clase, "Clase" %><br>
 	<%= collection_select(:categoria, "clase_id", @clases, "id", "combinar_codigo_nombre", :include_blank => "Seleccione...") %> 
 		    		   				   
	</div>  	

	<div class="field">			
		<%= label_tag :bien_de_consumo, "Bien de consumo" %><br>
	  <%= grouped_collection_select(:categoria, :bien_de_consumo_id, @clases, :bienes_de_consumo, "combinar_codigo_nombre", :id, :nombre, :include_blank => " Seleccione...") %>
	</div>

