<h1>Stock de bienes de consumo</h1>

<div class="row">  
  <br />
  <div class="span6 offset3">   
  <div> 
    <div class="field">
      <%= label_tag 'obtener por bien de consumo' %>
    </div>
    <div class="field">
      <%= autocomplete_field_tag 'bien_de_consumo_nombre', '', autocomplete_bien_de_consumo_nombre_items_stock_path , :size => 75 %>
      <input type="button" value="Eliminar filtro" id="traer_todos_los_items">   
    </div>    

    <%= hidden_field_tag 'bien_de_consumo_id' %>
  </div>

  <div id="tabla_items">    
    <%= render 'form_tabla_stock' %>   
  </div> 

</div> 



