<h1>Stock de bienes de consumo con subtotal por partida parcial </h1>

<div class="row">
  <br />
  <div class="span6 offset3">
  <div>

  </div>

  <div id="tabla_items">
    <%= render 'form_tabla_stock_con_subtotal_por_pp' %>
  </div>

</div>
