<h1>Dar de baja y reemplazar por Nuevo Item</h1>
<h4  align="center">  
  <strong>Codigo:</strong>
  <%= BienDeConsumo.find(params[:bien_de_consumo_id]).codigo %>
  <strong>Nombre:</strong>
  <%= BienDeConsumo.find(params[:bien_de_consumo_id]).nombre %>
</h4>
</br>
</br>

<%= render 'form_reemplazar_bien_de_consumo' %>

<%= link_to 'Volver', bienes_de_consumo_path %>
